{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Pollada</title>
    <link rel="stylesheet" href="{% static 'css/panel_styles.css' %}">
</head>
<body>
    <div class="panel-container">
        <!-- <h1>Panel de Gestión de Parrillada</h1> -->
         <h1>Pida su Ticket de Parrillada, ¡Gracias por su apoyo 😊!</h1>
        <div class="button-group">
            <a href="{% url 'polladas:registrar_cliente' %}" class="button primary">Registrar Venta</a>
            <!-- Estos solo si el usuario está logueado -->
            {% if user.is_authenticated %}
                <a href="{% url 'polladas:buscar_tickets_cliente' %}" class="button primary">Buscar Tickets</a>
                <a href="{% url 'polladas:ver_reportes' %}" class="button secondary">Ver Reportes</a>
            {% endif %}
        </div>
    </div>
</body>
</html>