{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Ingresa tus datos para comprar tu ticket</h2>
        <form method="post">
            {% csrf_token %}

            <!-- <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
            {{ form.nombre }}
            
            <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label }}</label>
            {{ form.telefono }} -->

            <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
            {{ form.nombre }}
            <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label }}</label>
            <input type="tel" name="{{ form.telefono.name }}" id="{{ form.telefono.id_for_label }}"
                placeholder="Ej. 912345678"
                pattern="[0-9]{9}"
                title="El número de teléfono debe tener 9 dígitos."
                required>

            <div class="radio-group">
                <label>{{ form.tipo_pedido.label }}</label>
                {{ form.tipo_pedido }}
            </div>

            <div id="delivery-fields" class="delivery-fields" style="display: none;">
                <label for="{{ form.direccion.id_for_label }}">{{ form.direccion.label }}</label>
                {{ form.direccion }}

                <label for="{{ form.referencia.id_for_label }}">{{ form.referencia.label }}</label>
                {{ form.referencia }}
            </div>
            
            <button type="submit">Siguiente</button>
        </form>
    </div>

    <script src="{% static 'js/form_scripts.js' %}"></script>
</body>
</html>